
.our h1 {
    color: #603809;
    font-family: "PlayfarirDisplay";
    font-size: 54px;
}

.our h2 {
    color: #707070;
    text-align: center;
    font-family: "PlayfarirDisplay";
}

.our .col {
    text-align: center;
}
#malades h1{
    color: #603809;
    font-family: "PlayfarirDisplay";
    font-size: 54px;
    margin-bottom: 10px;
}
#malades p{
    color: #707070;
    text-align: center;
    font-family: "PlayfarirDisplay";
    margin-bottom: 80px;
}
#belgi {
    font-family: "PlayfarirDisplay";
    font-size: 220px;
    line-height: 100px;
    margin-left: 100px;
}

